@import "../../../styles/variaveis.scss";

table.matricula {
  &:not(.ativo) {
    border-collapse: separate;
    border-spacing: 0 15px;
  }
  tr {
    &.main {
      background-color: $corAzulBackgroundTable;
    }
  }
}
