@import "../../../styles/variaveis.scss";

table.matricula {
  border-collapse:separate;
  border-spacing:0 15px;
  tr {
    background-color: $corAzulBackgroundTable;
    padding-bottom: 10px;
  }
}

