@import "../../../styles/variaveis.scss";

table.grupo-profissionais {
  tr {
    &.main {
      background-color: $corAzulBackgroundTable;
    }
    td {
      vertical-align: middle;
    }
  }
  tfoot {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}
