@import 'variaveis.scss';

// Menu Busca

.menu-busca {
    background: $corVerdeClaro;
}

// Escolas

.tabela-escolas {
    font-size: 0.8rem;
    tr {
        cursor: pointer;
        &.collapsing, &.collapse {
            background: $corCinzaEscuro;
        }
    }
    tr[aria-expanded=true] {
        background: $corCinzaEscuro;
    }
}

// Rodapé

.rodape {
    background: $corVerdeEscuro;
    color: $corBranco;
}