@import 'variaveis.scss';

// Fonte

@mixin fonte($size) {
    font-size: $size;
}

// Filtro

.menu-busca {
    background: $corVerdeClaro;
}

.cursor-padrao {
    cursor: default;
}

.resultados-busca {
    max-height: 300px;
    overflow-y: auto;
    z-index: 5;
}

// Escolas

.escolas {
    p {
        @include fonte(0.8rem);
    }
    .overflow-auto {
        max-height: 370px;
        .tabela-escolas {
            @include fonte(0.8rem);
            tr {
                cursor: pointer;
                &.collapsing, &.collapse {
                    background: $corCinzaEscuro;
                }
            }
            tr[aria-expanded=true] {
                background: $corCinzaEscuro;
            }
        }
    }
}

.btn-mais-escolas {
    background: $corVerdeEscuro !important;
    border-color: $corVerdeEscuro !important;
    color: $corBranco !important;
    &:hover {
        background: $corBranco !important;
        color: $corVerdeEscuro !important;
    }
}

.btn-estatisticas {
    border-color: $corVerdeEscuro !important;
    color: $corVerdeEscuro !important;
    &:hover {
        background: $corVerdeEscuro !important;
        color: $corBranco !important;
    }
}

// Mapa

.mapa-completo {
    @media (min-width: 992px) {
        padding-right: 0 !important;
        position: absolute !important;
        right: 0;
        width: 100% !important;
    }
    .mapa {
        background: $corBranco;
        border: 0 none;
        box-sizing: border-box;
    }
}

// Rodapé

.rodape {
    background: $corVerdeEscuro;
    color: $corBranco;
}