@import 'variaveis.scss';

.menu-busca {
    background: $corVerdeClaro;
}

// Escolas

.table-escolas {
    tr {
        cursor: pointer;
        &.collapsing, &.collapse {
            background: $corCinzaEscuro;
        }
    }
}