// Cores

$corBranco: #FFFFFF;

$corCinzaClaro: #F3F3F3;
$corCinzaEscuro: #C4C4C4;
$corCinzaHome: #5C6F78;
$corCinzaBuscaOff: #CED4DA;
$corCinzaRodape: #5A5A5A;

$corVerdeClaro: #AFD367;
$corVerdeEscuro: #4E9C45;
$corVerdeBotaoHome: #AFCE68;

$corAzulFiltro: #00A6E2;
$corAzulBuscaOn: #80BDFF;
$corAzulPortal: #196CBD;

// Fontes

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@mixin roboto-sans {
    font-family: 'Roboto', sans-serif !important;
}
