// Cores

$corBranco: #FFFFFF;

$corCinzaClaro: #F3F3F3;
$corCinzaEscuro: #C4C4C4;
$corCinzaHome: #778F9B;
$corCinzaBuscaOff: #CED4DA;

$corVerdeClaro: #AFD367;
$corVerdeEscuro: #4E9C45;

$corAzulBordaBusca: #80BDFF;

// Fontes

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@mixin roboto-sans {
    font-family: 'Roboto', sans-serif !important;
}
